<footer class="custom-footer">
  <div class="footer-top">
    <div class="footer-col left">
      <h2><span style="color:#b9cbe6;">Be</span><span style="font-family:Courgette;">travel</span></h2>
      <p style="color: #ccc; margin-top: 10px;">We love who we are and we are very proud to be the part of your business</p>
      <p style="color: #ccc; font-size: 13px; margin-bottom: 10px;">Curabitur sit amet magna quam. Praesent in libero vel turpis pellentesque egestas sit amet vel nunc. Nunc lobortis dui neque quis.</p>
      <div class="footer-social">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-google-plus"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-vimeo"></i></a>
        <a href="#"><i class="fa fa-play"></i></a>
      </div>
    </div>
    <div class="footer-col">
      <h3>Bibendum auctor</h3>
      <ul class="footer-list">
        <li>Suspendisse a pellentesque dui, non felis.</li>
        <li>Quisque lorem tortor fringilla sed.</li>
        <li>Quisque cursus et, porttitor risus.</li>
        <li>Nulla ipsum dolor lacus, suscipit.</li>
      </ul>
    </div>
    <div class="footer-col large">
      <h3>10 years of experience</h3>
      <p>Suspendisse elementum mauris lectus. Suspendisse potenti. Praesent id ipsum lorem. Ut ac erat sed nisi aliquam molestie vitae et lectus! Duis at enim magna. Nulla in ex purus:</p>
      <div class="footer-list-row">
        <ul>
          <li><a href="#" style="color: #ccc;">Velit mauris</a></li>
          <li><a href="#" style="color: #ccc;">Entum feuis</a></li>
          <li><a href="#" style="color: #ccc;">Aliquam massa</a></li>
          <li><a href="#" style="color: #ccc;">Egestas quam</a></li>
        </ul>
        <ul>
          <li><a href="#" style="color: #ccc;">Aenean ligula</a></li>
          <li><a href="#" style="color: #ccc;">Dapibus at dolor</a></li>
          <li><a href="#" style="color: #ccc;">Molestie id</a></li>
          <li><a href="#" style="color: #ccc;">Vestibulum</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    2021 Betheme by Muffin group | All Rights Reserved | Powered by <a href="#">WordPress</a>
  </div>
</footer>
