<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BeTravel - BeTheme</title>
  <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="body">

  <%- include('partials/header') %>

  <div class="hero">
    <div class="hero_top" style="background-color: #94c4e3;">
      <div class="hero_left_top">
        <h2 class="stylish_h2">Find your dream holidays</h2>
        <p style="margin-bottom: 25px; font-size: 17px; line-height: 25px; color: #626262;">Morbi in sem quis
          dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam.</p>
        <p style="margin-bottom: 25px; font-size: 15px; line-height: 23px; color: #626262; height: 115px; width: 220px;">
          Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada
          fames ac turpis velit, rhoncus eu, luctus et.</p>
        <button class="viewmore_hero">View More</button>
      </div>
      <div class="hero_right_top">
        <img src="/images/home_tour_slider_discount.png" alt="Discount Label" class="discount-label">

        <img src="/images/home_tour_slider_srilanka.png" alt="" class="hero-title">
        <img src="/images/home_tour_slider_price.png" alt="" class="hero-subtitle">

        <button class="readmore_slider_hero">Read more</button>
      </div>
    </div>

    <div class="hero_bottom" style="padding-top: 50px; background-color: #fff;">
      <div class="hero_bottom_para" style="float: left; margin: 0 1% 40px;">
        <h2 class="bottom_para_title">Last Minute Tours</h2>
        <div class="hero_bottom_body">
          <p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies
            in, diam.</p>
        </div>
      </div>
      <div class="hero_bottom_column">
        <div class="under_column">
          <img src="/images/home_tour_photo_1.jpg" alt="" style="width: 280px;">
          <h4>Thailand - Phuket<span class="themecolor" style="float: right;">$299</span></h4>
          <p>Vitae adipiscing turpis. Aenean ligula nibh in molestie id viverra a dapibus at dolor.</p>
        </div>
      </div>
      <div class="hero_bottom_column">
        <div class="under_column">
          <img src="/images/home_tour_photo_2.jpg" alt="" style="width: 280px;">
          <h4>Egypt<span class="themecolor" style="float: right;">$854</span></h4>
          <p>Vitae adipiscing turpis. Aenean ligula nibh in molestie id viverra a dapibus at dolor.</p>
        </div>
      </div>
      <div class="hero_bottom_column">
        <div class="under_column">
          <img src="/images/home_tour_photo_3.jpg" alt="" style="width: 280px;">
          <h4>Greece<span class="themecolor" style="float: right;">$229</span></h4>
          <p>Vitae adipiscing turpis. Aenean ligula nibh in molestie id viverra a dapibus at dolor.</p>
        </div>
      </div>
      <div class="hero_bottom_column">
        <div class="under_column">
          <img src="/images/home_tour_photo_4.jpg" alt="" style="width: 280px;">
          <h4>Dubai<span class="themecolor" style="float: right;">$1299</span></h4>
          <p>Vitae adipiscing turpis. Aenean ligula nibh in molestie id viverra a dapibus at dolor.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="all_trips">
    <div class="all_trips_top">
      <h2 class="all_trips_title">We provide memorable moments</h2>
    </div>
    <div class="all_trips_column">
      <div class="all_trips_column_content" data-anim-type="zoomIn">
        <h4 style="margin-bottom: 25px;">Cheap offers</h4>
        <ul class="list_idea">
          <li><i class="fas fa-lightbulb"></i><a style="color: #737e86; text-decoration: none;" href="#">Turkey</a><span style="float: right;" class="themecolortrip">$900</span></li>
          <li><i class="fas fa-lightbulb"></i><a style="color: #737e86; text-decoration: none;" href="#">Ibiza<span style="float: right;" class="themecolortrip">$5800</span></a></li>
          <li><i class="fas fa-lightbulb"></i> <a style="color: #737e86; text-decoration: none;" href="#">Maledives<span style="float: right;" class="themecolortrip">$300</span></a></li>
          <li><i class="fas fa-lightbulb"></i><a style="color: #737e86; text-decoration: none;" href="#">Peru<span style="float: right;" class="themecolortrip">$7500</span></a></li>
          <li><i class="fas fa-lightbulb"></i><a style="color: #737e86; text-decoration: none;" href="#">New York<span style="float: right;" class="themecolortrip">$2300</span></a></li>
        </ul>
      </div>
      <div class="all_trips_column_content" data-anim-type="zoomIn">
        <h4 style="margin-bottom: 25px;">Exotic Winter 14/15</h4>
        <ul class="list_idea">
          <li><a style="color: #737e86; text-decoration: none;" href="#">Turkey<span style="float: right;" class="themecolortrip">$900</span></a></li>
          <li><a style="color: #737e86; text-decoration: none;" href="#">Ibiza<span style="float: right;" class="themecolortrip">$5800</span></a></li>
          <li><a style="color: #737e86; text-decoration: none;" href="#">Maledives<span style="float: right;" class="themecolortrip">$300</span></a></li>
          <li><a style="color: #737e86; text-decoration: none;" href="#">Peru<span style="float: right;" class="themecolortrip">$7500</span></a></li>
          <li><a style="color: #737e86; text-decoration: none;" href="#">New York<span style="float: right;" class="themecolortrip">$2300</span></a></li>
        </ul>
      </div>
      <div class="all_trips_column_content" data-anim-type="zoomIn">
        <h4 style="margin-bottom: 25px;">Camping 2014</h4>
        <ul class="list_idea">
          <li><a style="color: #737e86; text-decoration: none;" href="#">Turkey<span style="float: right;" class="themecolortrip">$900</span></a></li>
          <li><a style="color: #737e86; text-decoration: none;" href="#">Ibiza<span style="float: right;" class="themecolortrip">$5800</span></a></li>
          <li><a style="color: #737e86; text-decoration: none;" href="#">Maledives<span style="float: right;" class="themecolortrip">$300</span></a></li>
          <li><a style="color: #737e86; text-decoration: none;" href="#">Peru<span style="float: right;" class="themecolortrip">$7500</span></a></li>
          <li><a style="color: #737e86; text-decoration: none;" href="#">New York<span style="float: right;" class="themecolortrip">$2300</span></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="info-layout" style="background-image: url(/images/home_tour_section_4.jpg); background-repeat: no-repeat; background-position: bottom left;">
    <div class="info-columns" style="width: 70%; margin-left: 0px;">
      <div class="info-tabs-area">
        <h2 class="info-title">Information centre</h2>
        <ul class="info-tabs">
          <li class="info-tab active">Commodo luctus</li>
          <li class="info-tab">Eget lacinia</li>
          <li class="info-tab">Porta gravida</li>
        </ul>
      </div>
      <div class="info-main-content">
        <div class="info-card">
          <p class="info-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce velit tortor, dictum in gravida nec, aliquet non lorem.</p>
          <p>Donec vestibulum justo a diam ultricies pellentesque. Quisque mattis diam vel lacus tincidunt elementum. Sed vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac eleifend ante lobortis id. In viverra ipsum ac eros tristique dignissim. Donec aliquam velit vitae mi dictum.</p>
        </div>
      </div>
      <div class="info-about">
        <h2 class="about-title">About <span class="about-brand">Be\travel</span></h2>
        <div class="about-feature">
          <span class="feature-icon">F</span>
          <span class="feature-bold"><b>Iiquam erat ac ipsum. Integer aliq uam purus. Quisque lorem tortor fringilla sed, vestibulum id eleifend.</b></span>
        </div>
        <div class="about-desc">
          <p>Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et non lor.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-contact-section">
    <div class="hero-contact-bg">
      <div class="hero-contact-content">
        <h3 class="stylish_h2" style="color: white;">We will help find the perfect holidays for you!</h3>
        <button class="hero-contact-btn">Contact us <span class="hero-contact-icon">&#128222;</span></button>
      </div>
    </div>
  </div>

  <%- include('partials/footer') %>

</body>
</html>
