<header>
  <div class="topbar">
    <div class="topbar_left" style="width: 1128.4px;">
      <div class="logo" style="background-color: #fff;">
        <span id="logo" data-height="60" data-padding="15" class="retina" style="background-color: #fff;">
          <a href="/" style="background-color: #fff;"><img src="/images/retina-travel.png" alt="BeTravel Logo" style="background-color: #fff;" height="37px"></a>
        </span>
      </div>

      <div class="menu_wrapper">
        <ul class="menu_top">
          <li><a href="/">Home</a></li>
          <li><a href="/resumecv">My CV</a></li>
          <li><a href="/products">Products</a></li>
          <li><a href="/insurances">Insurances</a></li>
          <li><a href="/helpcenter">Help Center</a></li>
          <li><a href="/contactus">Contact Us</a></li>
          <li><a href="/checkout">CheckOut</a></li>
        </ul>
      </div>
    </div>
    <div class="topbar_right"></div>
  </div>
</header>
